<?xml version="1.0" encoding="utf-8"?>

<nlog
	xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	autoReload="true"
	throwExceptions="false"
	internalLogLevel="Warn"
	internalLogFile="internal-nlog.txt">
	<variable
		name="shortLevel"
		value="${when:when=
			'${level}'=='Trace':inner=TRC}${when:when=
			'${level}'=='Debug':inner=DBG}${when:when=
			'${level}'=='Info':inner=INF}${when:when=
			'${level}'=='Warn':inner=WRN}${when:when=
			'${level}'=='Error':inner=ERR}${when:when=
			'${level}'=='Fatal':inner=FTL}" />
	<variable
		name="defaultLayout"
		value="${date:format=HH\:mm\:ss.fff} [${var:shortLevel}] ${logger} | ${callsite:className=false:methodName=true} (${callsite-linenumber}) | ${message} ${exception:format=toString}" />
	<targets>
		<target
			xsi:type="File"
			name="logfile"
			fileName="Logs/kaxaml.log"
			archiveFileName="Logs/kaxaml.{#}.log"
			archiveEvery="Day"
			archiveNumbering="Rolling"
			maxArchiveFiles="5"
			archiveAboveSize="10485760"
			layout="${var:defaultLayout}" />
		<target
			xsi:type="Console"
			name="console"
			layout="${var:defaultLayout}" />
	</targets>
	<rules>
		<logger name="*" minlevel="Debug" writeTo="logfile,console" />
	</rules>
</nlog>